@import '../variables.scss';

.gallery {
  text-align: center;

  h2 {
    color: $brand-primary;
  }

  p {
    color: $brand-secondary;
  }

  ul {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0 auto;
    max-width: 810px;
    padding: 0;

    li {
      align-self: flex-end;
      color: #0f0;
      font-weight: bold;
      margin: 10px;

      img {
        border-radius: 6px;
        height: 315px;
        object-fit: cover;
        width: 250px;
      }
    }
  }
}

@media only screen and (max-width: 545px) {
  .gallery ul {
    justify-content: space-evenly;
  }
}
